<h2>Thanks for registering our ROCK,PAPER,SCISSORS game!</h2>
<p>Please click below to verify your email</p>
<p>
  <a href="{{ url }}">Verification</a>
</p>

<p>If you did not sign up with this email you can safely ignore it.</p>